@using WebAdvert.Web.Models.Account
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Forgot Password";
}
@model ForgotPasswordViewModel
<div class="row">
    <div class="col-md-4">
        <h4>Enter email address to reset passowrd</h4>
        <form method="post" asp-controller="Account" asp-action="ForgotPassword">
            <div asp-validation-summary="All" class="alert-danger">
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default">
                Send code
            </button>
        </form>
    </div>
</div>